/* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #ffff;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: ButlerBold;
    src: url(Butler-Medium.woff);
  }
  @font-face {
    font-family: ButlerMedium;
    src: url(Butler-Bold.woff);
  }

  @font-face {
      font-family: VensfolkRegular;
      src: url(VensfolkRegular.ttf);
  }


html {
    font-family: VensfolkRegular, ButlerBold, ButlerMedium;
    font-weight: 100;
}
body {
    background: transparent;
    width: 60%;
    margin: auto;
}

/* Headers */

h1 {
    background: transparent;
    font-size: 160px;
    font-family: VensfolkRegular;
    font-weight: 400;
    color: #1E4494;
    letter-spacing: 2px;
}
h2 {
    background: transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #212A4E;
    margin-top: -20px;
    margin-left: 10px;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #355161;
    background: transparent;
}

h4 {
    background: transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #212A4E;
}

h5 {
    background: transparent;
    font-size: 40px;
    font-weight: 500;
    font-family: ButlerMedium;
    margin: 10px;
    color: #212A4E;
}

h6 {
    background: transparent;
    font-size: 130px;
    font-weight: 400;
    color: white;
    font-family: VensfolkRegular;
    -webkit-text-stroke: 2px #1E4494;
}

P {    
    background: transparent;
    color:#1E4494;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/* Navigation */
.nav {
    background: transparent;
    color: #3b3b3b;
    text-decoration: none;
}

.logo {
    background: transparent;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 25px;
}

.aboutMe {
    background: transparent!important;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 160px;
}

.contactMe {
    background: transparent!important;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 285px;
}

.myResume {
    background: transparent!important;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 220px;
}

.textCol {
    color:#212A4E
}

a:hover span {
    color: #ea6175!important;
}

.logo a {
    text-decoration: none;
}
.aboutMe a {
    text-decoration: none;
}
.contactMe a {
    text-decoration: none;
}
.myResume a {
    text-decoration: none;
}

/* Landing */
.landing {
    background: none;
    height:100vh;
    position:relative;
}
.landingWrapper {
    background: transparent!important;
    display: flex;
    justify-content: space-between;
}

.landingL {
    margin-top: 100px;
    margin-left: -90px;
    top: 10px;
    position:absolute;
    background: transparent!important;
}

.myPortfolio{
    margin-top: 30px;
    margin-left: 50%;
    margin-right: 20%;
    left: 130px;
    position:absolute;
    background: transparent!important;
}

.myPortfolio a{
    text-decoration: none;
}

.myPortfolio:hover h6{
    color: #1e4494!important;
    -webkit-text-stroke: 0px black;
}

.plant {
    margin-bottom: 0px;
}

/* FIX LATER
.strokeHov:hover span{
    color: white!important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
*/

/* another test */
