/* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #ffff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: ButlerBold;
    src: url(Butler-Medium.woff);
  }
  @font-face {
    font-family: ButlerMedium;
    src: url(Butler-Bold.woff);
  }

  @font-face {
      font-family: VensfolkRegular;
      src: url(VensfolkRegular.ttf);
  }


html {
    font-family: VensfolkRegular, ButlerBold, ButlerMedium;
    font-weight: 100;
}
body {
    background: transparent;
    width: 60%;
    margin: auto;
}

/* Headers */

h1 {
    background: transparent;
    font-size: 160px;
    font-family: VensfolkRegular;
    font-weight: 400;
    color: #1E4494;
    letter-spacing: 2px;
}
h2 {
    background: transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #212A4E;
    margin-top: -20px;
    margin-left: 10px;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #355161;
    background: transparent;
}

h4 {
    background: transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #212A4E;
}

h5 {
    background: transparent;
    font-size: 40px;
    font-weight: 500;
    font-family: ButlerMedium;
    margin: 10px;
    color: #212A4E;
}

h6 {
    background: transparent;
    font-size: 80px;
    font-weight: 400;
    font-family: VensfolkRegular;
    color: #1E4494;
}

P {    
    background: transparent;
    color:#1E4494;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/* Navigation */
.nav {
    background: transparent;
    color: #3b3b3b;
    text-decoration: none;
}
.aboutMe {
    background: transparent;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 25px;
}
.contactMe {
    background: transparent;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 115px;
}

.myResume {
    background: transparent;
    text-align: right;
    position: absolute;
    margin-top: 1.5%;
    right: 50px;
    top: 70px;
}

.aboutMe a {
    text-decoration: none;
}
.contactMe a {
    text-decoration: none;
}
.myResume a {
    text-decoration: none;
}

/* Landing */
.landing {
    background: none;
    height:100vh;
    position:relative;
}
.landingWrapper {
    background: none;
    display: flex;
    justify-content: space-between;
}

.landingL {
    margin-top: 120px;
    margin-left: -90px;
    position:absolute;
    background: transparent;
}

.projectPages{
    background: none;
    position:absolute;
    bottom: -150px;
    left: 500px;
    letter-spacing: 3px;
    top: 320px;
    margin-right: 200px;
}