/* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #ffff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: ButlerBold;
    src: url(Butler-Medium.woff);
  }
  @font-face {
    font-family: ButlerMedium;
    src: url(Butler-Bold.woff);
  }

  @font-face {
      font-family: VensfolkRegular;
      src: url(VensfolkRegular.ttf);
  }


html {
    font-family: VensfolkRegular, ButlerBold, ButlerMedium;
    font-weight: 100;
}
body {
    background: transparent;
    width: 60%;
    margin: auto;
}


/* Headers */

h1 { /* portfolio header */
    background: transparent;
    font-size: 50px;
    font-family: VensfolkRegular;
    font-weight: 400;
    color: #212A4E;
    letter-spacing: 4px;
}
h2 { /* project names */
    background: transparent!important;
    font-size: 120px;
    font-weight: 400;
    font-family: VensfolkRegular;
    color: #1E4494;
    margin-top: -20px;
    margin-left: 10px;
}
h3 { /* explore text */
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #1E4494;
    background: transparent;
}

h4 { /* category text */
    background: transparent;
    font-size: 25px;
    font-weight: 400;
    font-family: ButlerMedium;
    color: #212A4E;
}

/* nav */

.logo {
    background: none;
    text-align: right;
    position: fixed;
    margin-top: 1.5%;
    right: 35px;
    top: 25px;
}

.portfolioHead {
    background: transparent;
    text-align: left;
    position: absolute;
    top: 30px;
    left: 110px;
}

/* projects */
.bars {
    top: 140px;
    left: 400px;
    position:absolute;
    background: transparent;
}

.barsHA {
    position: absolute;
    background: transparent!important;
    top: 50%;
    left: 45%;
    transform: translate(-30%, -120%);
}

.barsHB {
    position: absolute;
    background: transparent!important;
    top: 50%;
    left: 45%;
    transform: translate(-66%, -40%);
}

.climate {
    top: 790px;
    right: 190px;
    position:absolute;
    background: transparent!important;
    padding-bottom: 50px;
}

.change {
    top: 50px;
    left: 100px;
    position: absolute;
    background: transparent!important;
}

.climate a {
    text-decoration: none;
}

a:hover span {
    color: #ea6175!important;
}
